<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functional Web Automation">
    <test name="Functional Web Automation">
         <classes>
             <class name="com.mqa.runners.LoginPageRunner"/>
          </classes>
     </test>
</suite>